<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" packages="com.github.wolf480pl.jline_log4j2_appender">
  <Appenders>
    <JLineConsole name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss} [%highlight{%-5level}] [%logger{36}] %msg%n"/>
    </JLineConsole>
    <RollingFile name="RollingFile" fileName="cmd-example.log" filePattern="cmd-example.%i.log">
      <PatternLayout pattern="%d{HH:mm:ss} [%-5level] %logger{36} - %msg%n"/>
      <SizeBasedTriggeringPolicy size="50000" />
    </RollingFile>
  </Appenders>
  <Loggers>
    <Root level="info">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="RollingFile"/>
    </Root>
  </Loggers>
</Configuration>
